<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipselabs.etrack.domain.state"
            class="org.eclipselabs.etrack.domain.state.StatePackage"
            genModel="model/state.xcore"/>
   </extension>

</plugin>
