<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclilpselabs.etrack.developer.database.presentation.DatabaseModelWizardID"
            name="%_UI_DatabaseModelWizard_label"
            class="org.eclilpselabs.etrack.developer.database.presentation.DatabaseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DatabaseModelFile.gif">
         <description>%_UI_DatabaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclilpselabs.etrack.developer.database.presentation.DatabaseEditorID"
            name="%_UI_DatabaseEditor_label"
            icon="icons/full/obj16/DatabaseModelFile.gif"
            extensions="database"
            class="org.eclilpselabs.etrack.developer.database.presentation.DatabaseEditor"
            contributorClass="org.eclilpselabs.etrack.developer.database.presentation.DatabaseActionBarContributor">
      </editor>
   </extension>

</plugin>
