<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/etrack/domain/task"
            class="org.eclipselabs.etrack.domain.task.TaskPackage"
            genModel="model/task.genmodel"/>
   </extension>

</plugin>
