<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated data -->
      <package
            uri="http://www.eclipselabs.org/etrack/domain/data"
            class="org.eclipselabs.etrack.domain.data.DataPackage"
            genModel="model/data.xcore"/>
   </extension>

</plugin>
