<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipselabs.etrack.developer.database"
            class="org.eclipselabs.etrack.developer.database.DatabasePackage"
            genModel="model/database.xcore"/>
   </extension>

</plugin>
