<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="org.eclipse.etrack.domain.project"
            class="org.eclipse.etrack.domain.project.ProjectPackage"
            genModel="model/project.xcore"/>
   </extension>

</plugin>
