<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated security -->
      <package
            uri="http://www.eclipselabs.org/etrack/domain/security"
            class="org.eclipselabs.etrack.domain.security.SecurityPackage"
            genModel="model/security.xcore"/>
   </extension>

</plugin>
