<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Running Platform" sequenceNumber="40">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest.feature.feature.group" version="1.3.0.201107152246"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/Hamcrest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.0.v20120601-0824"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.mongo.emf.feature.feature.group" version="0.7.0.201206190805"/>
<unit id="org.eclipselabs.mongo.emf.feature.source.feature.group" version="0.7.0.201206190805"/>
<unit id="org.eclipselabs.mongo.emf.developer.junit.feature.feature.group" version="0.7.0.201206190805"/>
<unit id="org.eclipselabs.mongo.emf.developer.junit.feature.source.feature.group" version="0.7.0.201206190805"/>
<unit id="org.eclipselabs.mongo.emf.query.simple.feature.source.feature.group" version="0.7.0.201206190805"/>
<unit id="org.eclipselabs.mongo.emf.query.simple.feature.feature.group" version="0.7.0.201206190805"/>
<repository location="http://bryanhunt.github.com/mongo-emf/releases/0.7.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epp.package.java.feature.feature.group" version="1.5.0.20120602-0806"/>
<repository location="http://download.eclipse.org/releases/juno/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.restlet.ext.servlet.feature.group" version="2.1.0.snapshot-v20120324-2215"/>
<unit id="org.restlet.feature.group" version="2.1.0.snapshot-v20120324-2215"/>
<unit id="org.restlet.ext.wadl.feature.group" version="2.1.0.snapshot-v20120324-2215"/>
<unit id="org.restlet.ext.xml.feature.group" version="2.1.0.snapshot-v20120324-2215"/>
<unit id="org.restlet.ext.emf.feature.group" version="2.1.0.snapshot-v20120324-2215"/>
<repository location="http://p2.restlet.org/2.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.restlet.ext.osgi.developer.junit.feature.feature.group" version="0.5.1.201111202205"/>
<unit id="org.restlet.ext.osgi.di.eclipse.feature.feature.group" version="0.5.1.201111202205"/>
<unit id="org.restlet.ext.osgi.servlet.feature.feature.group" version="0.5.1.201111202205"/>
<unit id="org.restlet.ext.osgi.wadl.di.eclipse.feature.feature.group" version="0.5.1.201111202205"/>
<repository location="http://bryanhunt.github.com/Restlet-Extension-for-OSGi-Environments/releases/0.5.1/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.emfjson.feature.feature.group" version="0.3.3.201202141103"/>
<repository location="http://ghillairet.github.com/emfjson/releases/0.3.3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.mongodb.feature.feature.group" version="2.7.2.201111251414"/>
<repository location="http://bryanhunt.github.com/mongo-emf/mongodb/2.7.2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mockito.feature.feature.group" version="1.9.0.201204041315"/>
<repository location="http://quickiemart.springfieldusa.net/Targets/Mockito"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts -XX:MaxPermSize=256m -Xms40m -Xmx512m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
