<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scrum -->
      <package
            uri="http://www.eclipselabs.org/etrack/domain/scrum"
            class="org.eclipselabs.etrack.domain.scrum.ScrumPackage"
            genModel="model/scrum.xcore"/>
   </extension>

</plugin>
